.settings {
    height: 100px;
    width: 180px;
    background-color: #7de6fc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 80px;
}

input {
    width: 45px;
    /*margin-left: 110px;*/
    /*margin-top: 13px;*/
    /*margin-bottom: 13px;*/
    margin-left: 20px;
    border-radius: 5px;
}

.maxInput {
    margin-right: 10px;
}

.minInput {
    margin-right: 7px;
    margin-top: 10px;
}